<div class="calender-top" *ngIf="userDetails!=null">
  <div class="row align-items-center" (mouseleave)="datepicker_open=false">

    <div class="col-lg-4 col-md-5 col-sm-12" >
      <ul>
        <li *ngIf="staffs" [ngClass]="{'onlyStaff': staffs}">
         <ng-select [(ngModel)]="staff_id" [clearable]="false" (change)="filterStaff($event);">
           <ng-option  [value]="''" >All Staff</ng-option>
          <ng-option   *ngFor="let staff of staffs" [value]="staff.id"><img src="assets/images/default-user.png" alt=""> {{staff.name}}</ng-option>
         </ng-select>
        </li>
        <li *ngIf="userDetails.user_type=='admin'">
          <select class="form-control" [(ngModel)]="initialView" (change)="changecalMode();">
            <option *ngFor="let item of calendermodes" [ngValue]="item.value">{{item.text}}</option>
          </select>
        </li>

      </ul>
    </div>

    <div class="col-lg-4 col-md-5 col-sm-8 col-11" >

      <div class="d-flex" (mouseover)="datepicker_open=true" >
        <div class="col-sm-4 col-4" *ngIf="userDetails.user_type=='admin'"><span class="today" (click)="todayAppointment()">Today</span></div>
        <div class="col-8">
            <div class="calen-next-prev-box" style="position: relative;">
            <a (click)="prevAppointment()" href="javascript:void(0)" class="btn-prev" *ngIf="userDetails.user_type=='admin'"> <img src="assets/images/arrow-left.png" alt="" class="img-fluid"></a>
            <span>{{calHeading}} <img src="assets/images/down-arrow.png" alt="" *ngIf="userDetails.user_type=='admin'"></span>


            <a (click)="nextAppointment()" href="javascript:void(0)"  class="btn-next" *ngIf="userDetails.user_type=='admin'"> <img src="assets/images/arrow-right.png" alt="" class="img-fluid"></a>

            <div class="w-100 date_picker"  *ngIf="userDetails.user_type=='admin'">
              <owl-date-time-inline *ngIf="datepicker_open" [(ngModel)]="selectedMoment" [pickerType]="'calendar'" (ngModelChange)="gotoData();" [firstDayOfWeek]="1"></owl-date-time-inline>
            </div>

          </div>
        </div>


        <!-- <div class="col-2 text-right"><a (click)="prevAppointment()" href="javascript:void(0)" class="btn-prev"> <img src="assets/images/arrow-left.png" alt="" class="img-fluid"></a></div>
        <div class="col-4">
            {{calHeading}}
           <owl-date-time-inline [(ngModel)]="selectedMoment" [pickerType]="'calendar'" (ngModelChange)="gotoData();"></owl-date-time-inline>

        </div>
        <div class="col-2"><a (click)="nextAppointment()" href="javascript:void(0)"  class="btn-next"> <img src="assets/images/arrow-right.png" alt="" class="img-fluid"></a></div> -->
      </div>
    </div>

    <div class="col-lg-4 col-md-2 col-sm-2 col-1" *ngIf="userDetails.user_type=='admin'">
      <div class="calender-right-side">
        <div ngbDropdown>
              <a id="addBtn" ngbDropdownToggle><img src="assets/images/plus-sign.png" alt="#"></a>
              <div ngbDropdownMenu aria-labelledby="addBtn">
                <ul>
                  <li><a href="javascript:void(0)" (click)="redirectStaff();"><img src="assets/images/staff.png" alt="" class="img-fluid"> Add Staff</a></li>
                  <li><a href="javascript:void(0)" (click)="redirectService();"><img src="assets/images/services.png" alt="" class="img-fluid"> Add Service</a></li>
                  <li><a href="javascript:void(0)" (click)="redirectCustomer();"><img src="assets/images/people.png" alt="" class="img-fluid"> Add Customer</a></li>
                  <li><a href="javascript:void(0)" (click)="openmeetingModal();"><img src="assets/images/video-camera.png" alt="" class="img-fluid"> Add Appointment</a></li>

                </ul>
              </div>
            </div>

      </div>
    </div>

  </div>
    <div class="row ">
        <div class="col-sm-12 position-relative" *ngIf="calendarOptions.initialView">
          <div class="selected-user" *ngIf="initialView=='timeGridDay' && selectedStaff">
            <img src="assets/images/default-user.png" alt=""> {{selectedStaff.name}}
          </div>

          <full-calendar #calendar [options]="calendarOptions"  ></full-calendar>

        </div>
    </div>
</div>
<ng-template #appointModal let-modal>
  <div class="modal-header book-apoin-header">
    <h4 class="modal-title" id="modal-basic-title">Appointment</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body book-apoin-body">

  <app-appointment-details></app-appointment-details>


  </div>
</ng-template>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<style>

</style>




