header
{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.logo
{
  flex: 0 0 8rem;
  max-width: 8rem;
  background: var(--color-ashton-blue);
  padding: 0.6rem 1rem;
  height: 75px;
}
.logo h2
{
  font-size: 1.3rem;
  font-family: var(--font-Righteous);
  color: var(--color-white);
  line-height: 1.2;
}
.header-item
{
  /* flex: 0 0 calc(100% - 8rem);
  max-width: calc(100% - 8rem); */
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0.8rem 2rem 0.8rem 4.5rem;
  border-bottom: 1px solid var(--color-silver-medal);
}
.header-item h3:not(.primary-header)
{
  font-size: 1.3rem;
  color: var(--color-midnight-express);
  padding-left: 1rem;
  margin: 0;
}
.header-item ul
{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  float: right;
  margin: 0;
}
.header-item ul li
{
  margin: 0 1rem;
}
.header-item ul li img
{
  width: 1.1rem;
}
.header-item ul li a
{
  font-size: 1.1rem;
  color: var(--color-midnight-express);
  line-height: 1.2;
  font-weight: 600;
}
.header-item ul li a.Upgrade
{
  padding: 0.5rem 2rem;
  background: var(--color-ashton-blue);
  color: var(--color-white);
  font-size: 0.8rem;
  border-radius: 0.2rem;
}
.header-item ul li button
{
  background: transparent;
  border: none;
  background: url(../../assets/images/down-arrow.png);
  background-size: 8px;
  background-repeat: no-repeat;
  background-position: right center;
  padding: 0 0.8rem 0 0;
}
.header-item ul li .dropdown-toggle::after
{
  display: none;
}
#userProfile img
{
  width: 100%;
  height: 100%;
  max-width: 1.4rem;
  object-fit: contain;
}
