<div class="row justify-content-center">
  <div class="col-lg-3 col-md-5 col-sm-6 col-12">
    <label>Choose Year</label>
    <select class="form-control" [(ngModel)]="year" (ngModelChange)="LoadingChart();">
      <option value="">All</option>
      <option value="{{year_option.year}}" *ngFor="let year_option of year_options">{{year_option.year}}</option>
    </select>
  </div>
  <div class="col-lg-3 col-md-5 col-sm-6  col-12">
    <label>Choose Month</label>
    <select class="form-control" [(ngModel)]="month" (ngModelChange)="LoadingChart();">
      <option value="">All</option>
      <option value="{{month_option.month_index}}" *ngFor="let month_option of month_options">{{month_option.month_name}}</option>
    </select>
  </div>
</div>

<div style="width: 100%;border-top: 1px solid var(--color-aria); border-bottom: 1px solid var(--color-aria);text-align: center;padding: 1rem; margin-bottom: 1rem;">
  <div id="chartContainer" style="height: 400px;width: 100%; "></div>
</div>
<div style="width: 100%;" >
  <div id="piechartContainer" style="height:200px;"></div>
</div>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
