.customer-com
{
  display: flex;
  flex-wrap: wrap;
}
.customer-sidebar
{
  flex: 0 0 11rem;
  max-width: 11rem;
  background: var(--color-lynx-white);
  padding: 1.5rem 0.8rem 1rem;
  overflow-y: auto;
}
.customer-sidebar::-webkit-scrollbar
{
  display: none;
}
.customer-main
{
  flex: 0 0 calc(100% - 11rem);
  max-width: calc(100% - 11rem);
}
.form-check
{
  margin-bottom: 0;
}
.btn-bookAppoin
{
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  background: var(--color-midnight-express);
  color: var(--color-white);
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  transition: all .5s ease-in-out;
}
.btn-bookAppoin:focus,
.btn-bookAppoin:hover,
.add-new-customer:hover
{
  box-shadow: none;
  border: none;
  background: var(--color-ashton-blue);
}
.form-control
{
  border: 1px solid var(--color-extraordinary-abundance-of-tinge);
  height: 2.5rem;
  font-size: 0.8rem;
  margin: 0.5rem 0;
}
select.form-control
{
  background: url(../../assets/images/down-arrow.png);
  background-size: 8px;
  background-repeat: no-repeat;
  background-position: right 8px center;
}
.customer-sidebar ul
{
  margin: 0;
  padding: 0;
  background: var(--color-white);
  border-radius: 0.5rem;
}
.customer-sidebar ul li
{
  display: flex;
  flex-wrap:nowrap;
  align-items: center;
  width: 100%;
  padding:0.4rem 0.8rem;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--color-black-emerald);
  cursor: pointer;
  transition: all .5s ease-in-out;
}
.customer-sidebar ul li img
{
  width: 1.2rem;
  height: 1.2rem;
  margin: 0 0.3rem;
}
.customer-sidebar ul li:hover,.customer-sidebar ul li.active

{
  background:#bacfef;
}
/* .customer-sidebar ul li:hover img,.customer-sidebar ul li.active img
{
  filter: invert(100%) brightness(100);
} */


.customer-main
{
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  margin: 0 0 1rem;
  align-items: baseline;
}

.customer-details
{
  flex: 0 0 30%;
  max-width: 30%;
  padding: 1rem;
  /* border: 1px solid var(--color-aria); */
}

.cusetomet-name{
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--color-ashton-blue);
}
.cusetomet-name img{
  width: 1.8rem;
  margin-right: 0.8rem;
}
.customer-det-tabs
{
  flex: 0 0 calc(100% - 35%);
  max-width: calc(100% - 35%);
  padding: 1rem;
  margin: 0 1rem;
  /* border: 1px solid var(--color-aria); */
  position: relative;
}

.delete-sec
{
  position: absolute;
  top: 24px;
  right: 20px;
}
.btn-delete
{
  width: 2rem;
  height: 2rem;
  padding: 0;
  border: 1px solid var(--color-pixel-white);
  border-radius: 0.3rem;
  font-size: 0.8rem;
  line-height: 0;
}
.btn-delete img
{
  width: 15px;
}

.btn-delete-text
{
  padding: 0.5rem 1rem;
  background: var(--color-highlighter-red);
  color: var(--color-white);
  font-size: 0.8rem;
  font-weight: 600;
  border: none;
  border-radius: 0.3rem;
  transition: all .5s ease-in-out;
}
.btn-delete-text:hover,
.btn-cancel:hover
{
  background: var(--color-midnight-express);
  color: var(--color-white);
}
.btn-cancel
{
  padding: 0.5rem 1rem;
  background: var(--color-chefs-hat);
  color: var(--color-midnight-express);
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 0.3rem;
  transition: all .5s ease-in-out;
  margin-left: 0.5rem;
  border: none;
}
.cus-header .btn-lg:focus,
.btn-delete:focus,
.btn-delete-text:focus,
.add-new-customer:focus,
.btn-cancel:focus
{
  outline: none;
  box-shadow: none;
}
.add-new-customer
{
  padding: 0.5rem 1rem;
  background: var(--color-midnight-express);
  color: var(--color-white);
  font-size: 0.8rem;
  font-weight: 600;
  border: none;
  border-radius: 0.3rem;
  transition: all .5s ease-in-out;
}
ng-scrollbar {
  --scrollbar-size: 0;
  --scrollbar-thumb-color: rgba(255, 255, 255, 0.8);
  --scrollbar-thumb-hover-color: #F5F5F5;
  --scrollbar-border-radius: 4px;
  /* border: 1px solid gray; */
}
/* .main-content::-webkit-scrollbar {
  width: 6px;
	background-color: #F5F5F5;
}

.main-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 0px;
	background-color: #F5F5F5;
	width: 6px;
}

.main-content::-webkit-scrollbar-thumb {
  border-radius: 0px;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: var(--bg-color-3);
} */
.customer-sidebar .btn-lg
{
  width: 2.1rem;
  padding: 0.6rem;
  border: 1px solid var(--color-smoke-screen);
  border-radius: 0.3rem;
  font-size: 1rem;
  line-height: 0;
  margin-right: 0.5rem;
  text-align: center;
  transition: all .5s ease-in-out;
}
 .customer-sidebar .btn-lg:hover
{
  background: var(--color-smoke-screen);
}
