<section class="login-sec">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-5 col-md-6 col-sm-8 col-12">

        <div class="login-form">
          <h2>Scott Sheldrake</h2>
          <h3 class="headding-text text-center">Login</h3>
          <form [formGroup]="loginForm" (ngSubmit)="loginFormSubmit()">

            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" placeholder="Email" formControlName="email" [ngClass]="{'parsley-error':loginForm.get('email').invalid && IsSubmitted}">
               <ul class="parsley-errors-list filled" aria-hidden="false"*ngIf="loginForm.get('email').invalid && IsSubmitted">
                <li class="parsley-required">Please Enter Email !!</li>
               </ul>
            </div>

            <div class="form-group my-4">
              <label>Password</label>
              <input type="password" class="form-control" placeholder="Password" formControlName="password" [ngClass]="{'parsley-error':loginForm.get('password').invalid && IsSubmitted}">
              <ul class="parsley-errors-list filled" aria-hidden="false"*ngIf="loginForm.get('password').invalid && IsSubmitted">
                <li class="parsley-required">Please Enter Password !!</li>
               </ul>
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-submit">Login</button>

              <a routerLink="/forgot-password" class="forgot-password">Forgot your password?</a>
              <p>By signing in, you agree to our <a routerLink="/term">Terms of Use</a> & <a routerLink="/privacy">Privacy Policy</a>.</p>
            </div>

          </form>
        </div>

      </div>
    </div>
  </div>
</section>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
