<div class="cus-appointment">

  <div class="cus-header">
    <button class="btn btn-lg" (click)="open(content)"><img src="assets/images/plus.png" alt="" class="img-fluid"></button> <span>0 Appointment & 0 Class</span>
  </div>

  <div class="cus-appointment">

    <table class="table">
      <tbody>

        <tr *ngFor="let appointment of appointments;let i = index">
          <td class="booking-date">{{appointment.start_time | date:'d MMM' }}</td>
          <td>
            {{appointment.start_time | date:'h:mm a' }}<span>{{appointment.meeting_length}} min</span>
          </td>
          <td>
              {{appointment.customer!=null?appointment.customer.name:''}} <span>{{appointment.meeting_length}} Mins Meeting w/ {{appointment.staff.name}}</span>
          </td>
          <td>
            {{appointment.estimate}} 
        </td>

        </tr>

        
      </tbody>
    </table>

  </div>

</div>


<ng-template #content let-modal>
<div class="modal-header book-apoin-header">
    <h4 class="modal-title" id="modal-basic-title">Appointment</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body book-apoin-body">

  <app-appointment-details></app-appointment-details>


  </div>  
</ng-template>
