<div class="w3-display-middle">
  <div >
    <h1><code>Access Denied</code></h1>
    <hr>
    <h3>Sorry, Please Login First!</h3>
    <h3><span>🚫🚫🚫🚫</span></h3>
    <h6>401 Unauthorized</h6>
    <a routerLink="/" class="btn btn_yellow">Login Now</a>&nbsp;&nbsp;
    <a (click)="clear();" class="btn btn_yellow">Clear Cache</a>
  </div>
  </div>
