<div class="sidebar" *ngIf="userDetails!=null">
   <ul>
      <li *ngIf="userDetails.user_type=='admin' || userDetails.access_level.one_day_view ">
         <a routerLink="/calender" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
         <img src="assets/images/calender.png" alt="" class="img-fluid"> 
         <span class="tooltiptext">Calender</span>
         </a>
      </li>
      <li *ngIf="userDetails.user_type=='admin'"><a routerLink="/customers"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
         <img src="assets/images/users.png" alt="" class="img-fluid"> 
         <span class="tooltiptext">Customers</span>
         </a>
      </li>
      <li *ngIf="userDetails.user_type=='admin' || userDetails.access_level.view_all || userDetails.access_level.edit" >
         <a routerLink="/setting/account-setting" [ngClass]="{'active':activeRoute}" >
         <img src="assets/images/setting.png" alt="" class="img-fluid"> 
         <span class="tooltiptext">Setting</span></a>
      </li>
   </ul>
</div>

