.sidebar
{
  width: 100%;
  height: 100vh;
  background: var(--color-midnight-express);
}
.sidebar ul
{
  margin: 0;
  padding: 0;
  width: 100%;
}
.sidebar ul li
{
  position: relative;
}
.sidebar ul li a img
{
  width: 1.5rem;
}
.sidebar ul li a
{
  padding: 1.4rem 0;
  display: block;
  text-align: center;
  position: relative;
  transition: all .5s ease-in-out;
}
.sidebar ul li .active,
.sidebar ul li a:hover
{
  background: rgba(255,255,255,.1);
}
/* .sidebar ul li .active img,
.sidebar ul li a:hover img
{
  filter:invert(100%) brightness(100);
} */
/* .sidebar ul li.active::before
{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: #f00;
  border-radius: 50%;
} */
.tooltiptext {
  visibility: hidden;
  width: fit-content;
  background-color: rgba(0,0,0,.9);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 9px;
  font-size: 0.8rem;
  position: absolute;
  z-index: 999999;
  top: 50%;
  left: 115%;
  opacity: 0;
  transform: translateY(-50%);
  transition: opacity 0.3s;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 10px 5px 0;
  border-color: transparent rgba(0,0,0,.9) transparent transparent;
  transform: translateY(-50%);
}

.sidebar ul li a:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
