<div class="staff-services">
  <div class="staff-services-name">
    <img src="assets/images/default-user.png" alt="#"> Working Hours {{select_staff.name}}
  </div>

  <div class="staff-services-list">

    <div class="d-flex flex-wrap">
      <div class="col-lg-10 col-md-10 col-sm-12 col-12">
        <form method="post" [formGroup]="workinghourForm" >
          <div class="table-responsive">
        <table class="table">
          <tbody formArrayName="workinghours">
            <tr *ngFor="let item of workinghourForm.get('workinghours')['controls'] let i = index;" [formGroupName]="i">

              <td>
              {{workinghourForm.get("workinghours")['controls'][i].value.day_name  }}
              </td>
              <td>
                <div class="onoffswitch" style="visibility: hidden;">
                  <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch{{i}}">
                  <label class="onoffswitch-label" for="myonoffswitch{{i}}">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                  </label>
                </div>
              </td>
                  <td class="wh-time"><input type="time" class="form-control" formControlName="start_time"></td>
              <td align="center">to</td>
              <td class="wh-time"><input type="time" class="form-control" formControlName="end_time"></td>

            </tr>

            <tr>
              <td>
                Saturday
              </td>
              <td>
                <div class="onoffswitch" style="visibility: hidden;">
                  <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch6">
                  <label class="onoffswitch-label" for="myonoffswitch6">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                  </label>
                </div>
              </td>
              <td colspan="3">
                <span class="day-off">Day off</span>
              </td>
            </tr>
            <tr>
              <td >
                Sunday
              </td>
              <td>
                <div class="onoffswitch" style="visibility: hidden;">
                  <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch7">
                  <label class="onoffswitch-label" for="myonoffswitch7">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                  </label>
                </div>
              </td>
              <td colspan="3">
                <span class="day-off">Day off</span>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
      </form>
    </div>
      <div  class="col-lg-2 col-md-2 col-sm-12 col-12 " *ngIf="userDetails.access_level.edit || userDetails.user_type==='admin'">
        <button class="btn-bookAppoin staff-w-save-btn" type="button" placement="bottom" (click)="onSubmit();">Save</button>
      </div>
    </div>
    <hr>
<!--    <a  class="edit-wh">Edit working hours</a>-->

  </div>

</div>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
