.wrapper
{
  display: flex;
  flex-wrap: nowrap;
}
.sidebar-div
{
  flex: 0 0 5rem;
  max-width: 5rem;
}
.main-content
{
  flex: 0 0 calc(100% - 5.1rem);
  max-width:calc(100% - 5.1rem);
  width: calc(100% - 5.1rem);
  height: calc(100vh - 3rem);
  overflow-y: auto;
}
.main-content::-webkit-scrollbar {
  width: 6px;
	background-color: #F5F5F5;
}

.main-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 0px;
	background-color: #F5F5F5;
	width: 6px;
}

.main-content::-webkit-scrollbar-thumb {
  border-radius: 0px;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: var(--bg-color-3);
}
