<app-header></app-header>
<div class="wrapper">
  <div class="sidebar-div">
    <app-sidebar></app-sidebar>
  </div>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
  <!-- <app-footer></app-footer> -->
</div>

