.staff-services-name
{
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-ashton-blue);
}
.staff-services-name  img {
  width: 1.8rem;
  margin-right: 0.8rem;
}
.staff-services-list
{
  padding-left: 50px;
  margin-top: 10px;
}
.form-check-box
{
  position: relative;
  display: inherit;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  overflow: hidden;
}
input[type="checkbox"]
{
  opacity: 0;
}
label
{
  padding-left: 5px;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--color-black);
  margin: 0;
  cursor: pointer;
}
label::before
{
  content: '';
  position: absolute;
  top: 55%;
  left: 10px;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  background: url(../../../../assets/images/plus.png);
  background-size: 15px;
  background-repeat: no-repeat;
}
label:after
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.staff-services-list input[type="checkbox"]:checked + label:after
{
  background: var(--color-midnight-express);
}
.staff-services-list input[type="checkbox"]:checked + label:before
{
  background: url(../../../../assets/images/checked.png);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: top center;
}
.staff-services-list input[type="checkbox"]:checked + label
{
  color: var(--color-white);
}
td
{
  border:none;
  padding: 0.1rem 0;
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-midnight-express);
}
