<section class="login-sec">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-12"></div>
      <div class="col-lg-5 col-md-6 col-sm-8 col-12">

        <div class="login-form">
          <h2>Scott Sheldrake</h2>
          <h3 class="headding-text text-center">Forgot Password</h3>
          <form [formGroup]="forgotPassword" (ngSubmit)="forgotFormSubmit()">
            <div class="form-group my-3">
              <label>Email</label>
              <input type="email" class="form-control" placeholder="Email" formControlName="userEmail">
            </div>

            <div class="form-gropu">
              <button type="submit" class="btn btn-submit">Forgot Password</button>
            </div>

          </form>
        </div>

      </div>
    </div>
  </div>
</section>
