.account-settings
{
  display: flex;
  flex-wrap: wrap;
  /* align-items: baseline; */
  height: 100%;
}
.account-settings-sidebar
{
  flex:0 0 20%;
  max-width: 20%;
  height: 100%;
  background: var(--color-whiteout);
  padding: 1.5rem 1rem 1rem;
  position: relative;
}
.account-settings-content
{
  flex: 0 0 80%;
  max-width: 80%;
  padding: 1.5rem;
  /* position: relative; */
}

.account-settings-sidebar h3
{
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--color-midnight-express);
}
.account-settings-content-box
{
  padding: 1.2rem 1.8rem;
}


.btn-lg
{
  background: var(--color-midnight-express);
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.1rem 0.5rem;
}
.btn-lg img
{
  position: relative;
  top: -1px;
  filter: invert(100%) brightness(1);
  transform: scale(0.8);
}
.add-new-customer:focus,
.btn-cancel:focus
{
  outline: none;
  box-shadow: none;
}
.add-new-customer
{
  padding: 0.5rem 1rem;
  background: var(--color-midnight-express);
  color: var(--color-white);
  font-size: 0.8rem;
  font-weight: 600;
  border: none;
  border-radius: 0.3rem;
  transition: all .5s ease-in-out;
}
.btn-cancel
{
  padding: 0.5rem 1rem;
  background: var(--color-chefs-hat);
  color: var(--color-midnight-express);
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 0.3rem;
  transition: all .5s ease-in-out;
  margin-left: 0.5rem;
  border: none;
}
.btn-cancel:hover
{
  background: var(--color-midnight-express);
  color: var(--color-white);
}
.add-new-customer:hover
{
  box-shadow: none;
  border: none;
  background: var(--color-ashton-blue);
}
.staff-list
{
  margin:0;
  padding: 0.5rem 0 0;
}
.staff-list li
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 0.3rem;
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--color-black-emerald);
  cursor: pointer;
  transition: all .5s ease-in-out;
}
.staff-list li.acive,
.staff-list li:hover
{
  background: var(--color-crystal-bell);
}
.staff-list li img
{
  width: 1.2rem;
  height: 1.2rem;
  margin: 0 0.3rem;
}
.staff-list li button
{
  border: none;
  background: transparent;
  /* visibility: hidden; */
  transition: all .5s ease-in-out;
}
.staff-list li button img
{
  width: auto;
  margin: 0;
}
.staff-list li.acive button,
.staff-list li:hover button
{
  visibility: visible;
}
.customer-det-tabs
{
  padding: 1rem;
  margin: 0 1rem;
  border: 1px solid var(--color-aria);;
}
.form-control {
  border: 1px solid var(--color-extraordinary-abundance-of-tinge);
  height: 2.5rem;
  font-size: 0.8rem;
  margin: 0.5rem 0;
}
