<div class="account-settings" *ngIf="userDetails!=null">
  <div class="account-settings-sidebar">
    <h3>Staff</h3>
    <div class="staff-buttons">
      <button class="btn btn-lg" style="right: 4rem;" [hidden]="userDetails.user_type!='admin'" [autoClose]="'outside'" #popover="ngbPopover" [ngbPopover]="NCustompopContent" [popoverTitle]="NCustompopTitle"><img src="assets/images/plus.png" alt="" class="img-fluid"></button>
      <button type="button" class="btn btn-delete btn-lg" (click)="deleteAll()" *ngIf="userDetails.user_type=='admin'">
        <img src="assets/images/delete.png" alt="#" class="img-fluid">
      </button>
    </div>

    <ng-template #NCustompopContent>
      <form method="post" [formGroup]="staffForm"  *ngIf="staffForm">
        <input type="text" class="form-control" placeholder="Name" formControlName="name" [ngClass]="{'parsley-error':staffForm.get('name').invalid && IsSubmitted}">
           <ul class="parsley-errors-list filled" aria-hidden="false"*ngIf="staffForm.get('name').invalid && IsSubmitted">
            <li class="parsley-required">Please Enter Name</li>
           </ul>


        <input type="email" class="form-control" placeholder="Email" formControlName="email" [ngClass]="{'parsley-error':staffForm.get('email').invalid && IsSubmitted}">

          <ul class="parsley-errors-list filled" aria-hidden="false"*ngIf="staffForm.get('email').invalid && IsSubmitted">

            <li class="parsley-required">Please Enter Email</li>
           </ul>

        <input type="text" class="form-control" placeholder="Mobile"  formControlName="phone_no" [ngClass]="{'parsley-error':staffForm.get('phone_no').invalid && IsSubmitted}" >

          <ul class="parsley-errors-list filled" aria-hidden="false"*ngIf="staffForm.get('phone_no').invalid && IsSubmitted">

            <li class="parsley-required">Please Enter Mobile</li>

         </ul>
        <input type="password" class="form-control" placeholder="Password" formControlName="password" [ngClass]="{'parsley-error':staffForm.get('password').invalid && IsSubmitted}">

          <ul class="parsley-errors-list filled" aria-hidden="false"*ngIf="staffForm.get('password').invalid && IsSubmitted">

            <li class="parsley-required">Please Enter Password</li>
           </ul>
           <ng-select formControlName="access_level" [multiple]="true" placeholder="Access Level" style="margin-bottom:10px;">
            <ng-option *ngFor="let access_level of access_levels" [value]="access_level.key">{{access_level.value}}</ng-option>
           </ng-select>
           <ul class="parsley-errors-list filled" aria-hidden="false"*ngIf="staffForm.get('access_level').invalid && IsSubmitted">

            <li class="parsley-required">Please Select Access Level</li>
           </ul>

      </form>

      <button class="btn add-new-customer" (click)="addStaff(popover);">Add Staff</button>
      <button class="btn btn-cancel" (click)="popover.close()">Cancel</button>
    </ng-template>
    <ng-template #NCustompopTitle>Add New Staff</ng-template>
     <div style="height: 350px;margin-top: 20px;overflow-y: auto;">

    <ul class="staff-list" *ngIf="staffs">

      <li  style=" cursor: move;"
                     (dragover)="allowDrop($event)" (drop)="drop(i)" (dragstart)="drag(i)" *ngFor="let staff of staffs; let i = index" draggable="true"
                       (click)="staffDetail(staff)"
     [ngClass]="{'acive':staff.id==selected_staff.id}" >

     <span><input type="checkbox" (click)="assignValue(staff,$event);">&nbsp;<img src="assets/images/default-user.png" alt=""> {{staff.name}}</span> <button (click)="deleteData(staff.id,$event)" *ngIf="userDetails.user_type=='admin'"><img src="assets/images/delete.png" alt="#" class="img-fluid"></button></li>



    </ul>

     </div>
  </div>

  <div class="account-settings-content">

    <div class="customer-det-tabs">
      <ul ngbNav #nav="ngbNav" [(activeId)]="customerTbaactive" class="nav-tabs">
        <li [ngbNavItem]="1">
          <a ngbNavLink>Details</a>
          <ng-template ngbNavContent>
            <app-staff-details></app-staff-details>
          </ng-template>
        </li>
        <li [ngbNavItem]="2" style="display:none;">
          <a ngbNavLink>Services</a>
          <ng-template ngbNavContent>
            <app-staff-services></app-staff-services>
          </ng-template>
        </li>
        <li [ngbNavItem]="3">
          <a ngbNavLink>Working Hours</a>
          <ng-template ngbNavContent>
            <app-staff-working-hours></app-staff-working-hours>
          </ng-template>
        </li>
      </ul>

      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>

  </div>

</div>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
