.setting-main-sec
{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  /* align-items: baseline; */
}
.setting-menu
{
  flex: 0 0 6rem;
  max-width: 6rem;
  background: var(--color-lynx-white);
  height: 100%;
}
.setting-content
{
  flex: 0 0 calc(100% - 6rem);
  max-width: calc(100% - 6rem);
  height: 100%;
}
.setting-menu ul
{
  padding: 0;
  margin: 0;
}

.setting-menu ul li a
{
  padding: 1rem;
  text-align: center;
  font-size: 0.73rem;
  font-weight: 600;
  display: block;
  color: var(--color-unique-grey);
  transition: all .5s ease-in-out;
}
.setting-menu ul li img
{
  width: 1.5rem;
  filter: invert(100%);
  transition: all .5s ease-in-out;
}
.setting-menu ul li a span
{
  display: block;
  margin-top: 0.2rem;
}
.setting-menu ul li a:hover,
.setting-menu ul li a.active
{
  background: var(--color-whiteout);
  color: var(--color-dove-grey);
}
.setting-menu ul li a:hover img,
.setting-menu ul li a.active img
{
  filter: none;
}
