<div class="setting-main-sec" *ngIf="userDetails!=null">
   <div class="setting-menu">
      <ul>
         <li *ngIf="userDetails.user_type=='admin'">
            <a routerLink="/setting/account-setting/account-preferences" [ngClass]="{'active':activeRoute}">
            <img src="assets/images/account.png" alt="" class="img-fluid">
            <span>Account</span>
            </a>
         </li>
         <li>
            <a routerLink="/setting/staff-setting" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <img src="assets/images/staff.png" alt="" class="img-fluid"><span>Staff</span>
            </a>
         </li>
         <li *ngIf="userDetails.user_type=='admin'">
            <a routerLink="/setting/services-setting" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <img src="assets/images/services.png" alt="" class="img-fluid"><span>Services</span></a>
         </li>
      </ul>
   </div>
   <div class="setting-content">
      <router-outlet></router-outlet>
   </div>
</div>

